<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if user_signed_in? %>
<%= current_user.email%>
<%= current_user.id%>
<% end %>
<%= link_to 'login', new_user_session_path%> -->
<div class="" style="min-height: 830px">
	<div class="page-header">HOME</div>
	<div class="h1">This is the HOME PAGE, nothing yet to show here, just be patient.</div>
</div>